html, body {
    margin: 0 auto;
    padding: 0;
}
.grid {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 50px 50vh auto;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1/2;
    background: #026670;
}
h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 100;
    letter-spacing: .1em;
    font-size: 6em;
    color: white; 
}
header h1 a {
    text-decoration: none;
    color: white; 

}
header h1 a:hover {
    color: #fef9c7;
}
header h1 a:active {
    color: #FCE181;
}
#nav_menu {
    grid-column: 1;
    grid-row: 2/3;
    background: #FCE181;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menu-list {
    width: 70%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 0;
    
}
.menu-list li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-list li a {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    text-decoration: none;
    color: #026670;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 400;
    letter-spacing: .1em;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1.5em;
}
.menu-list li a:hover {
    background: #fef9c7;
}
.menu-list li a:active {
    background: #fffded;
}
main {
    grid-column: 1;
    grid-row: 3/4;
    background-image: url("peanuts_background.jpg");
    background-size: 100% auto;

}
footer {
    grid-column: 1;
    grid-row: 4/5;
    background: #026670;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}   
.icon_list {
    grid-column: 1/2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
i {
    margin: 20px;
    color: white;
}
.updates {
    grid-column: 2/5;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 200px;
}
.updates #email {
    width: 100%;
}
#email {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#email legend {
    width: 90%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 400;
    font-size: 3em;
    color: white;
}
#email label {
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: white;
}
#email input {
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1em;
}
#button {
    width: 90%;
    background: #FCE181;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #026670;
}
#button:hover {
    background: #fef9c7;
}
#button:active {
    background: #fffded;
}




  /* media query for tablet portrait layout (768px to 959px) */
@media only screen and (max-width: 959px) {
    h1 {
        font-size: 5em;
    }
    .menu-list {
        width: 90%;
    }
    .email {
        width: 90%;
    }
    legend {
        font-size: 2em;
    }
}
 
/* media query for mobile landscape layout (480px to 767px) */
@media only screen and (max-width: 767px) {
    .grid {
        grid-template-rows: 200px 120px 400px 300px;   
    }
    h1 {
        font-size: 4em;
    }
    .menu-list {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        padding: 0;
        
    }
    .menu-list li {
        height: 25%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .menu-list li a {
        padding: 0;
        margin: 0;
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
    }
    main {
        background-size: 200% auto;
    }
    .footer {
        height: 400px;
        background: black;
    }
    .footer_grid {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 100px;
    }
    .icon_list {
        grid-column: 1;
        grid-row: 2/3;
    }
    .updates {
        grid-column: 1;
        grid-row: 1/2;
    }
    
    
}
 
/* media query for mobile portrait layout (479px or less) */
@media only screen and (max-width: 479px) {
    main {
        background-size: 200% auto;
    }
}
